.header {
  background-color: rgb(50, 167, 145);
  display: flex;
}

.trybewarts-login {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 20 px;
}

/* REQUISITO 06 */
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.evaluation {
  display: inline-block;
  max-width: 400px;
  padding-top: 50px;
}

#trybewarts-forms-logo {
  height: 500px;
  position: absolute;
  padding-left: 60%;
}

#label-family {
  flex-direction: column;
  padding-top: 20px;
}

main {
  display: flex;
  margin-left: 50px;
}

.radio-button {
  display: flex;
  align-items: baseline;
}

#everybody {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
/*REQUISITO 10 */
#d2{
  display: inline-block;
  height: 50px;
}